<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053816818404-euobjid50b52rbk6ff26bo6ldbqd7uba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053816818404-euobjid50b52rbk6ff26bo6ldbqd7uba</string>
	<key>API_KEY</key>
	<string>AIzaSyArPdhJA3-8Il19fJveG4Or7T0eEIIVxkk</string>
	<key>GCM_SENDER_ID</key>
	<string>1053816818404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kreoecosystem.kreoCalendar</string>
	<key>PROJECT_ID</key>
	<string>kreoecosystem</string>
	<key>STORAGE_BUCKET</key>
	<string>kreoecosystem.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053816818404:ios:13d61fcdd952ea445cbaf1</string>
</dict>
</plist>
